.bookNowHero{
    height: 10vh;
    text-align: center;
    padding-top: 10px;
    margin-bottom: -6vh;
}

.bookNowHero h1{
    font-family: 'Playfair Display', 'Didot', 'Bodoni MT', 'Times New Roman', serif;
    font-size: clamp(.5rem, 2.5rem, 4rem);
}