.contactHero{
    height: 20vh;
    padding-top: 3vh;
    padding-bottom: 5vh;
}

.contactHero h1{
    font-family: 'Playfair Display', 'Didot', 'Bodoni MT', 'Times New Roman', serif;
    font-weight: 500;
    font-size: clamp(2.5rem, 4vw, 5rem);
}

.contactHero h2{
    font-weight: 400;
    font-size: clamp(1.2rem, 1.5vw, 3rem);
    width: 50%;
}

.contactHero h1,h2{
    align-items: center;
    margin: 10px auto 50px auto;
    width: 60%;
    line-height: 1;
    
}